.fn-green-background{
    background-color: #006633;
}
.fn-green-text{
    color: #006633;
}
.cool-teal{
    color: #00b2a9;
}

.cool-green{
    color:#d7c826;
}
.cool-blue{

}
.warm-peach{

}
.warm-merlot{

}
.warm-yellow{

}