.account-selector {
    font-size: 11px;
    margin-bottom: 10px;
    overflow:auto;
    padding: 0;
    width: 700px;
}
.account-selector h3,
.account-selector ul.no-carousel,
.account-selector .jcarousel-container {
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
}
.account-selector h3 {
    background-image: url(../img/gradient-bg.png);
	background-postion: left top;
	background-repeat: repeat-x;
	border-color: #004D26; /* mid range of gradient */
	border-bottom:none;
	color: #FFFFFF;
    font-weight: bold;
    margin-bottom:0;
    padding:5px 0 5px 10px;
    text-transform: uppercase;
}
.account-selector ul.no-carousel,
.account-selector .jcarousel-container {
	border-color: #CCC; /* mid range of gradient */
	border-top: none;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.account-selector .jcarousel-clip {
	height: auto;
	margin: 0 42px;
	width: 616px;
}
.account-selector li {
 	background-image: none;
    border-right: 1px solid #DFDFDF;
    height: 74px;
    padding: 0 10px;
    position: relative;
    float: left;
    margin-bottom: 0px;
	width: 133px;
}
.account-selector .no-carousel li {
	width: 154px;
}
.account-selector li.last {
	border-right: none;
}
.account-selector .no-carousel li.last {
	width: 153px;
}
.account-selector li.here {
    background-color: #EFEFEF;
}
.account-selector li span {
    display: block;
}
.account-selector li .account-name {
	font-weight: bold;
	margin-top: 8px;
}

/* Carousel Buttons */
.jcarousel-next, 
.jcarousel-prev {
    background-color: #999;
    background-image: url("../img/account-selector-arrow.png");
	background-repeat: no-repeat;
	border-color: #CCC;
    border-style: solid;
    cursor: pointer;
    height: 76px;
    position: absolute;
    top: 0px;
    width: 42px;
}
.jcarousel-next {
	background-position: 0 0;
	border-left-width: 1px;
	right: 0;
}
.jcarousel-prev {
	background-position: -42px 0px;
	border-right-width: 1px;
	left: 0;
}

/* Carousel button hovers and disabled */
.account-selector .jcarousel-next:hover, 
.account-selector .jcarousel-prev:hover, 
.account-selector .jcarousel-next-disabled,
.account-selector .jcarousel-prev-disabled {
	background-color: #999999;
}

/* Cross Sell */
.main-content .account-selector li.cross-sell {
    background-image: none;
    list-style-type: none;
    overflow: hidden;
    width: 340px;
   	padding:0;
}

.main-content .account-selector li.cross-sell img{
	margin-top:4px;
	margin-left:6px;
	
}