.print-only,
.printonly {
  display:inline;
}
.screen-only,
.screenonly {
  display:block;
}
body {
  background-color:transparent;
}
#wrapper {
  margin:0 auto;
  width:90%;
}
#wrapper2 {
  margin:0;
}
#section1,
#masthead .search,
#masthead .utility,
#masthead div.nav, 
.breadcrumbs,
#footer div.nav,
#main-content h2 select {
  display:none;
}
#masthead {
  margin:.25in 0 .5in;
}
#masthead,
#footer {
  background-image:none;
  height:auto;
  overflow:auto;
}
#masthead .logo {
  left:0;
  position:relative;
  top:0;
}
#section2 {
  width:100%;
}
/* main-content ***** */
#main-content {
  padding:0;
}
#main-content form {
    margin:0 0 1em;
    padding:1em;
}

/* dashboard ***** */
.dashboard #main-content .column {
  margin:0 1% 0 0;
  width:47%;
}

/* background-color ***** */
body,
#wrapper,
#wrapper2,
#main-content table.horizontal th,
#main-content tr.even,
#main-content .even td,
#main-content button.btn,
#main-content a.btn,
#main-content li.btn,
#main-content a.submit,
#main-content li.default-action,
#main-content li.submit,
#main-content a.btn-disabled,
#main-content li.btn-disabled,
#main-content form,
.dashboard #main-content .make-payment form,
.account-detail #main-content .container,
.account-detail #main-content th,
#main-content .account-selector,
#main-content .account-selector .account,
#main-content .btn-rewards,
.dashboard #main-content div.make-payment,
.dashboard #main-content h2 form {
  background-color:transparent;
}

.main-content .btn {
	display:none;
}

/* color ***** */
#main-content table.horizontal th,
#main-content th a,
#main-content button.btn,
#main-content a.btn,
#main-content li.btn,
#main-content li.btn input.btn,
.account-detail #main-content th,
#main-content .account-selector h3,
#main-content .btn-rewards {
  color:#000;
}

/* font-size ***** */
#main-content table.horizontal th {
  font-size:x-small;
}

/* font-weight ***** */
#main-content table.horizontal th {
  font-weight:bold;
}

#main-content a.more,
.dashboard #main-content div.make-payment,
#main-content .instructions, 
.dashboard #main-content .make-payment form,
.dashboard #main-content .make-payment form *,
.account-detail #main-content th,
#main-content .disclosures,
#main-content .disclosures a,
#main-content .pfm,
.dashboard #main-content .column > div.pfm,
#main-content .statement-overview,
#main-content .statement-overview td,
#main-content .statement-overview th,
#main-content .transaction-list dt,
.dashboard #main-content .account-list table,
.dashboard #main-content div.make-payment,
.dashboard .statement-detail td {
  font-size:small;
}

/* borders ***** */
.dashboard .statement-detail td,
.dashboard .statement-detail th {
  border:1pt solid #bdbdbd;
}
.dashboard #main-content div.make-payment,
#main-content .rewards,
.dashboard .statement-detail th {
  border:2pt solid #000;
}
#main-content .rewards .rewards {
  border:none;
}
.tax-summary td,
.tax-summary th {
   border:1pt solid #bdbdbd;
}

/* View Check Images ***** */
.check-image {
	height: auto;
	width: 100%;
}
.zoomImg {
	display: none;
}

/* OMC ***** */
#online-message-center #header{
	height:40px;
}

#online-message-center #section2,
#online-message-center #footer .wrapper,
#online-message-center .main-content,
#online-message-center .main-content #smcinbxright{
	width:860px !important;
}
#online-message-center #section2 .main-content {
	border-bottom:1px solid #000;
	margin-top:40px;
}
#header .nav,
#header .utility-nav,
#breadcrumbs,
#smcDiv h1 #smcPageSpan,
#smcDiv #smcinbxleft,
#smcDiv #actions,
#smcDiv #convHeader #send {
	display:none;
}
#smcDiv  #convHeader,
#smcDiv #currentConv {
	font-size:15px;
}
.main-content #smcinbxright #currentConv {
	border-bottom:1px solid #FFF !important;
}
/* Forms ***** */

.main-content form,
.main-content form li,
.main-content form input {
	border:none;
}

.main-content input,
.main-content input.xx-short,
.main-content input.x-short,
.main-content input.short,
.main-content input.long,
.main-content input.x-long,
.main-content input.xx-long {
	width: 300px;
}

/* Fix for default borders showing under spans and divs in IE */
form.print span,
form.print div {
	border:none !important;
}

.main-content form input.date-picker {
	width:150px;
	font-size: 13px;
}

/* Print Agreements ***** */
/* The following two rules fixes 
   the numbered and alpha list so
   they show in both IE and Firefox */
   
.main-content #print-agreement li{
	margin-left:20px;
}

.main-content #print-agreement ol.numbered li{
	list-style-type:decimal;
}

/* Dashboard Payments & Transfers Widget ***** */
#scheduledStartPane td.btn{
	display:table-cell;
}